#color-game_board {
    background: #FFEFEE;
    width: 800px;
    height: 700px;
    border-radius: 24px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &--zone {
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
        &-player-1 {
            border: 1px solid green;
        }
        &-player-2 {
            border: 1px solid red;
        }
    }
}