.card-game {
    width: 100px;
}

.isBlur {
    filter: blur(74px);
}

.card {
    position: relative;
    float: left;
    margin-right: 10px;
    width: 70px;
    height: 120px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid;
    //Pickaxe
    &-pickaxe {
        float: none;
        position: absolute;
    }
    //Tas à jouer
    &-played {
        position: relative;
        a {
            //position: absolute;
        }
    }
    &-ROSE {
        color: #FAB6C4;
    }
    &-ROUGE {
        color: #FF4539;
    }
    &-BLEU {
        color: #7386D6
    }
    &-VIOLET {
        color: #8C9EC8;
    }
    &-BACK {
        color: #000;
    }
    &-number {
        color: inherit;
        font-size: 50px;
    }
}

.card-gamme {
    .card {
        width: 100px;
        height: 130px;
        border: 10px solid #FFF;
        font-family: 'Fjalla One', sans-serif;
        cursor: pointer;
        transition: transform 0.3s, ease-out 0.4s;
        position: absolute;
        //--Chiffre haut gauche
        &_top {
            transform: skew(-11.25deg);
            position: absolute;
            top: 0;
            left: 0;
        }
        &_tabs {
            height: 70px;
            font-size: 15px;
            color: #FFF;
            text-shadow: 1px 1px #000;
            margin: 0 5px;
        }
        .text-left {
            text-align: left;
        }
        //--Chiffre milieu
        &_centre {
            overflow: hidden;
            font-size: 59px;
            height: 80px;
            width: 80px;
            background-color: white;
            margin-top: -32px;
            margin-bottom: -36px;
            border-radius: 100%;
            text-shadow: 3px 3px #000;
            transform: skew(-11.25deg);
        }
        .center-block {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
        //--Chiffre bas droite
        &_bottom {
            transform: skew(-11.25deg) rotate(180deg);
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .text-left {
            text-align: left;
        }
        //--Couleurs
        &.red {
            background-color: #F00;
            color: #F00;
        }
        &.yellow {
            background-color: yellow;
            color: yellow;
        }
        &.blue {
            background-color: blue;
            color: blue;
        }
        &.green {
            background-color: green;
            color: green;
        }
        &:hover {
            transform: translate(0px, -30px);
        }
    }
}