@import "board-game.scss";
@import "cards.scss";
@import "zone-played-cards.scss";
body {
    background: #B4E1D9;
    /*background: radial-gradient(ellipse at center, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 25%,rgba(161,219,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 );*/
}

.color-game--title {
    font-size: 20px;
    color: #fff;
}