@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://fonts.googleapis.com/css?family=Fjalla+One");
@import url("https://fonts.googleapis.com/css?family=Anton");
#color-game_board {
  background: #FFEFEE;
  width: 800px;
  height: 700px;
  border-radius: 24px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  #color-game_board--zone {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center; }
    #color-game_board--zone-player-1 {
      border: 1px solid green; }
    #color-game_board--zone-player-2 {
      border: 1px solid red; }
  #color-game_board button {
    border: 0;
    background: none;
    padding: 0;
    cursor: pointer; }

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: inherit;
  height: inherit; }

.game-zone-cards-center {
  display: flex;
  justify-content: space-evenly; }

.game-color-wrapper {
  border: 23px solid white; }

.game-wrapper {
  transform: translate3d(0, 0, 0);
  perspective: 400px;
  text-align: center;
  position: relative;
  padding-top: 15px;
  margin: -150px 0 0px 0; }
  .game-wrapper .table-wrapper {
    margin-top: 10px;
    transform: rotateX(20deg);
    height: 900px;
    transform-origin: bottom;
    z-index: 9999;
    position: relative;
    margin: 10px auto 0 auto;
    width: 900px;
    margin-bottom: 200px; }
    .game-wrapper .table-wrapper .table-surface {
      box-shadow: 0px 40px 10px rgba(0, 0, 0, 0.2);
      background: linear-gradient(#B3E061, #80a53e);
      position: absolute;
      height: 100%;
      bottom: 0;
      width: 100%;
      background: url("./src/assets/img/grass.png");
      border-top: 3px dotted #6faa61;
      border-left: 1px dotted #b4e1d9;
      border-right: 1px dotted #b4e1d9; }
      .game-wrapper .table-wrapper .table-surface .table {
        width: 100%;
        height: 98%;
        transform-style: preserve-3d;
        outline: solid 1px transparent;
        margin: 0px auto 0px auto;
        min-height: 142px;
        padding: 15px 15px 22px 15px;
        display: inline-block;
        z-index: 999;
        position: relative;
        white-space: nowrap; }
  .game-wrapper .table-edge {
    margin: 0 auto 10px auto;
    height: 29px;
    transform: rotateX(-51deg);
    transform-origin: top;
    z-index: 2;
    position: absolute;
    bottom: -64px;
    border-top: 55px solid #59b344;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    height: 0;
    width: 865px;
    border-bottom: transparent;
    background: url("./src/assets/img/ground.png"); }
    .game-wrapper .table-edge:before {
      content: '';
      border-bottom: 6px dotted #6faa61;
      position: absolute;
      width: 897px;
      height: 0px;
      left: -16px;
      top: -58px; }

.game-player-name {
  z-index: 1000;
  position: absolute;
  font-size: 54px;
  left: 40%;
  font-family: 'VT323', monospace;
  display: inline-block;
  box-sizing: content-box;
  padding: 10px;
  overflow: hidden;
  border: none;
  color: yellow;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: 4px 4px 0 red; }
  .game-player-name--bot {
    top: -172px; }
  .game-player-name--real {
    bottom: -163px; }
  .game-player-name.isTurn {
    text-shadow: 4px 4px 0 red;
    animation: flash linear 1s infinite; }

@-webkit-keyframes flash {
  0% {
    opacity: 1; }
  50% {
    opacity: .1; }
  100% {
    opacity: 1; } }

@keyframes flash {
  0% {
    opacity: 1; }
  50% {
    opacity: .1; }
  100% {
    opacity: 1; } }

.card-game {
  width: 100px; }

.card {
  position: relative;
  float: left;
  margin-right: 10px;
  width: 70px;
  height: 120px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid; }
  .card-pickaxe {
    float: none;
    position: absolute; }
  .card-played {
    position: relative; }
  .card-ROSE {
    color: #FAB6C4; }
  .card-ROUGE {
    color: #FF4539; }
  .card-BLEU {
    color: #7386D6; }
  .card-VIOLET {
    color: #8C9EC8; }
  .card-BACK {
    color: #000; }
  .card-number {
    color: inherit;
    font-size: 50px; }

.card-gamme .card {
  width: 100px;
  height: 130px;
  border: 10px solid #FFF;
  font-family: 'Fjalla One', sans-serif;
  cursor: pointer;
  transition: transform 0.3s;
  position: absolute; }
  .card-gamme .card_top {
    transform: skew(-11.25deg);
    position: absolute;
    top: 0;
    left: 0; }
  .card-gamme .card_tabs {
    height: 70px;
    font-size: 15px;
    color: #FFF;
    text-shadow: 1px 1px #000;
    margin: 0 5px; }
  .card-gamme .card .text-left {
    text-align: left; }
  .card-gamme .card_centre {
    overflow: hidden;
    font-size: 59px;
    height: 80px;
    width: 80px;
    background-color: white;
    margin-top: -32px;
    margin-bottom: -36px;
    border-radius: 100%;
    text-shadow: 5px 5px #000;
    transform: skew(-11.25deg); }
  .card-gamme .card .center-block {
    display: block;
    margin-right: auto;
    margin-left: auto; }
  .card-gamme .card_bottom {
    transform: skew(-11.25deg) rotate(180deg);
    position: absolute;
    bottom: 0;
    right: 0; }
  .card-gamme .card .text-left {
    text-align: left; }
  .card-gamme .card.red {
    background-color: #F00;
    color: #F00; }
  .card-gamme .card.yellow {
    background-color: yellow;
    color: yellow; }
  .card-gamme .card.blue {
    background-color: blue;
    color: blue; }
  .card-gamme .card.green {
    background-color: green;
    color: green; }
  .card-gamme .card:hover {
    transform: translate(0px, -10px); }

.zone-player-cards {
  justify-content: space-evenly;
  display: flex; }

.game-zone-cards-player {
  position: relative; }
  .game-zone-cards-player:last-child .card-gamme {
    position: absolute;
    bottom: 135px; }

body {
  margin: 0;
  background: #B4E1D9;
  /*background: radial-gradient(ellipse at center, rgba(240,249,255,1) 0%,rgba(203,235,255,1) 25%,rgba(161,219,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=1 );*/ }

.color-game--title {
  font-size: 20px;
  color: #fff; }

header {
  height: 20px;
  background: #fff;
  margin-bottom: 100px; }
  header .logo {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 100px;
    height: 100px; }
    header .logo h1 {
      position: absolute;
      margin: 0;
      text-align: center;
      z-index: 1;
      position: absolute;
      top: 31px;
      width: 200px;
      left: -53px;
      color: black;
      font-family: 'Anton', sans-serif; }
    header .logo .box-1,
    header .logo .box-2,
    header .logo .box-3,
    header .logo .box-4 {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all 0.5s cubic-bezier(0.75, -0.3, 0.31, 2); }
    header .logo .box-1 {
      background: #008000; }
    header .logo .box-2 {
      background: #0000ff; }
    header .logo .box-3 {
      background: #ff0000; }
    header .logo .box-4 {
      background: #ffff00; }
    header .logo.open .box-1 {
      transform: rotate(8deg) translateX(8%); }
    header .logo.open .box-2 {
      transform: rotate(4deg) translateX(4%); }
    header .logo.open .box-3 {
      transform: rotate(2deg) translateX(2%); }
    header .logo.open:hover .box-1,
    header .logo.open:hover .box-2,
    header .logo.open:hover .box-3,
    header .logo.open:hover .box-4 {
      transition: all 0.3s ease;
      transform: none; }

footer {
  background: #fff;
  margin-top: 30px;
  text-align: center; }
  footer ul {
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 30px 0 20px 0; }
    footer ul li {
      padding: 0 110px;
      position: relative; }
      footer ul li span {
        position: absolute;
        z-index: 5;
        display: block; }
        footer ul li span a {
          text-decoration: none;
          color: inherit; }
      footer ul li:after {
        content: '';
        position: absolute;
        width: 27px;
        height: 9px;
        background: yellow;
        z-index: 1;
        left: 98px; }
